<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="./public/styles/style.css" rel="stylesheet">
		<script type="text/javascript">
			function submitform()
			{
			document.forms["myform"].submit();
			}
			
			function submitopen()
			{
			document.forms["openform"].submit();
			}
			
			function submitinprocess()
			{
			document.forms["inprocessform"].submit();
			}
			
			function submitproject()
			{
			document.forms["projectform"].submit();
			}
			
			function loadAdmin()
			{
			document.forms["loadAdmin"].submit();
			}
			
			
		</script>
		<script defer src="./node_modules/@fortawesome/fontawesome-free/js/brands.js"></script>
		<script defer src="./node_modules/@fortawesome/fontawesome-free/js/solid.js"></script>
		<script defer src="./node_modules/@fortawesome/fontawesome-free/js/fontawesome.js"></script>

	</head>
	
	<body>
	
	<div class="topbar">
	<img src="./public/SwireLogo.png" alt="Swire Coca-Cola, USA Logo" width="210" height="45">
	<a href="/profile" style="display:flex; float:right;"><i class="fas fa-user" height=45></i></a>
	</div>
	
	 <div class="container">

		<div class="card">

			<div class="header">
			  <h3>PRGM Projects </h3>
			</div>
			<div class="body">
			  <ul>
				<li><i class="fas fa-home icon"></i> <a href="./index.html">Home</a></li>
				<li><i class="fas fa-underline icon"></i> Projects
					<ul>
						<li>
							<i class="fas fa-pencil-alt icon"></i>
							<form id="openform" action="/openProjects" method="post">
								<a href="javascript: submitopen()">Open Projects</a>
							</form>
						</li>
						<li>
							<i class="fas fa-pencil-alt icon"></i>
								<form id="inprocessform" action="/inprocessProjects" method="post">
									<a href="javascript: submitinprocess()">In-Process Projects</a>
								</form>
						</li>
						<li><i class="fas fa-paper-plane icon"></i> <form id="myform" action="/allProjects" method="post"><a href="javascript: submitform()">All Projects</a></form></li>
				  </ul>
				</li>
				
				<li><i class="fas fa-boxes icon"></i><form id="loadAdmin" action="/adminPage" method="post"><a href="javascript: loadAdmin()">Admin</a></form></li>
				<li><i class="fas fa-table icon"></i> Tables</li>
				<li><i class="fab fa-wpforms icon"></i> Forms
				  <ul>
					<li><i class="fas fa-pencil-alt icon"></i> First form</li>
					<li><i class="fas fa-paper-plane icon"></i> Second form</li>
				  </ul>
				</li>
				<li><i class="fas fa-chart-pie icon"></i> Charts</li>
			  </ul>
			</div>
		</div>
  
  	<div class="main">
	<form action="/createProject" method="post">
				<input class="redButton" type="submit" value="Create a new project">
			</form>
			<form action="/testTest" method="post">
				<input class="redButton" type="submit" value="My Projects">
			</form>
          <%- statusMessage %>
	</div>


</div>
		
	</body>
</html