<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Unition</title>
		<link rel="shortcut icon" type="image/png" href="./public/favicon.ico">
		<link href="./public/styles/<%= user.style %>.css" rel="stylesheet">
		<script type="text/javascript">
			function submitproject()
			{
			document.forms["projectform"].submit();
			}
			
			function loadAdmin()
			{
			document.forms["loadAdmin"].submit();
			}
			
			function submitcharts()
			{
			document.forms["opencharts"].submit();
			}
		</script>
		<script defer src="./node_modules/@fortawesome/fontawesome-free/js/brands.js"></script>
		<script defer src="./node_modules/@fortawesome/fontawesome-free/js/solid.js"></script>
		<script defer src="./node_modules/@fortawesome/fontawesome-free/js/fontawesome.js"></script>

	</head>
	
	<body>
	

	
	 <div class="container">

		<div class="card">
			<div class="header">
			  <img type="image/png" src="./public/unition4.png" style="margin-top:20px;" class="unition">
			  <img type="image/png" src="./public/unitionBig.png" style="margin-top:20px;" class="unitionBig">
			  <img type="image/png" src="./public/unitionSmall.png" style="margin-top:20px;" class="unitionSmall">
			</div>
			<div class="body">
			  <ul>
				<a href="./home"><li><i class="fas fa-home icon"></i> <div class="navText">Home</div></li></a>
				<a href='./myProjects'><li><i class="fas fa-stream icon"></i><div class="navText"> Projects</div></li></a>			
				<a href='./adminPage'><li><i class="fas fa-wrench icon"></i><div class="navText">Admin</div></li></a>
				<a href="./forms"><li><i class="fab fa-wpforms icon"></i><div class="navText"> Forms</div></li></a>
				<a href="javascript: submitcharts()"><li><i class="fas fa-chart-pie icon"></i> <form id="opencharts" action="/openCharts" method="post"><div class="navText">Charts</div></form></li></a>
				<a href="./campaigns"><li><i class="fas fa-flag icon"></i><div class="navText">Campaigns</div></li></a>
				<a href="./teams"><li><i class="fas fa-users icon"></i><div class="navText">Teams</div></li></a>
				<a href="./public/views/documentation.pdf"><li><i class="fas fa-book icon"></i><div class="navText">Documentation</div></li></a>
			  </ul>
			</div>
		</div>
  
  	<div class="main">
	<form action="/createProject" method="post">
				<input class="redButton" type="submit" value="Create Project">
			</form>
			<form action="/myProjects" method="get">
				<input class="redButton" type="submit" value="My Projects">
			</form>
				<a href="/profile" class="profileButton" style="display:flex; float:right;"><i class="fas fa-user" height=45></i></a>
			<br>
			<br>
          <%- statusMessage %>
		  <h3 class="doch4">Unition Project Management Documentation</h3>
		  <ul class="docul">
			<li>Basic Usage</li>
			<li>Administration</li>
			<li>Excel Integration</li>
			<li><a href="./documentation#createCategories">Creating Categrories</a></li>
		  </ul>
		  <h4 class="doch4"><a id="createCategories">Create Categories and Customers</a></h4>
		  <p class="docp">Adding categories and customers to your projects is a great way to keep track of what kind of work you're doing and who you're doing it for (plus, it's easy).<br>First, go to your admin portal and choose either 'customers' or 'categories':</p>
		  <img type="image/png" src="./public/createCategory.PNG" style="margin-top:20px;" >
		  <p class="docp">Next, type in the name of the category/customer (this will show up in a drop-down on your project creation form) and add a quick description if you want.</p>
		  <img type="image/png" src="./public/createCategory2.PNG" style="margin-top:20px;" >
</div>
		
	</body>
</html