<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Unition</title>
		<link rel="shortcut icon" type="image/png" href="./public/favicon.ico">
		<link href="./public/styles/style.css" rel="stylesheet">
		<script type="text/javascript">
			function submitproject()
			{
			document.forms["projectform"].submit();
			}
			
			function loadAdmin()
			{
			document.forms["loadAdmin"].submit();
			}
			
			function submitcharts()
			{
			document.forms["opencharts"].submit();
			}
		</script>
		<script defer src="./node_modules/@fortawesome/fontawesome-free/js/brands.js"></script>
		<script defer src="./node_modules/@fortawesome/fontawesome-free/js/solid.js"></script>
		<script defer src="./node_modules/@fortawesome/fontawesome-free/js/fontawesome.js"></script>

	</head>
	
	<body>
	

	
	 <div class="container">

		<div class="card">
			<div class="header">
			  <img type="image/png" src="./public/unition4.PNG" style="margin-top:20px;" class="unition">
			  <img type="image/png" src="./public/unitionBig.PNG" style="margin-top:20px;" class="unitionBig">
			  <img type="image/png" src="./public/unitionSmall.PNG" style="margin-top:20px;" class="unitionSmall">
			</div>
			<div class="body">
			  <ul>
				<li><i class="fas fa-home icon"></i> <a href="./index.html"><div class="navText">Home</div></a></li>
				<li><i class="fas fa-stream icon"></i><a href='./projects'><div class="navText"> Projects</div></a></li>				
				<li><i class="fas fa-wrench icon"></i><form id="loadAdmin" action="/adminPage" method="post"><a href="javascript: loadAdmin()"><div class="navText">Admin</div></a></form></li>
				<li><i class="fas fa-table icon"></i><a href="./tables"><div class="navText"> Tables</div></a></li>
				<li><i class="fab fa-wpforms icon"></i><a href="./forms"><div class="navText"> Forms</div></a></li>
				<li><i class="fas fa-chart-pie icon"></i> <form id="opencharts" action="/openCharts" method="post"><a href="javascript: submitcharts()"><div class="navText">Charts</div></a></form></li>
				<li><i class="fas fa-book icon"></i><a href="./documentation"><div class="navText">Documentation</div></a></li>
			  </ul>
			</div>
		</div>
  
  	<div class="main">
	<form action="/createProject" method="post">
				<input class="redButton" type="submit" value="Create Project">
			</form>
			<form action="/myProjects" method="post">
				<input class="redButton" type="submit" value="My Projects">
			</form>
				<a href="/profile" class="profileButton" style="display:flex; float:right;"><i class="fas fa-user" height=45></i></a>
			<br>
			<br>
          <%- statusMessage %>
		  <h3>Unition Project Management Documentation</h3>
		  <ul>
			<li>Basic Usage</li>
			<li>Administration</li>
			<li>Excel Integration</li>
			<li><a id="createCategories">Creating Categrories</a></li>
		  </ul>
		  
	</div>


</div>
		
	</body>
</html