<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>PRGM Projects</title>
		<link rel="shortcut icon" type="image/png" href="./public/favicon.ico">
		<link href="public/styles/style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript">
			function submitproject()
			{
			document.forms["projectform"].submit();
			}
			
			function loadAdmin()
			{
			document.forms["loadAdmin"].submit();
			}
			
			function submitcharts()
			{
			document.forms["opencharts"].submit();
			}
		</script>
		<script defer src="./node_modules/@fortawesome/fontawesome-free/js/brands.js"></script>
		<script defer src="./node_modules/@fortawesome/fontawesome-free/js/solid.js"></script>
		<script defer src="./node_modules/@fortawesome/fontawesome-free/js/fontawesome.js"></script>

	</head>
	
	<body>
	
	<div class="topbar">
	<img src="./public/SwireLogo.png" alt="Swire Coca-Cola, USA Logo" width="210" height="45">
	<a href="/profile" class="profileButton" style="display:flex; float:right;"><i class="fas fa-user" height=45></i></a>
	</div>
	
	 <div class="container">

		<div class="card">

			<div class="header">
			  <h3>PRGM Projects</h3>
			</div>
			<div class="body">
			  <ul>
				<li><i class="fas fa-home icon"></i> <a href="./index.html">Home</a></li>
				<li><i class="fas fa-underline icon"></i> <a href='./projects'>Projects</a></li>
				
				<li><i class="fas fa-boxes icon"></i><form id="loadAdmin" action="/adminPage" method="post"><a href="javascript: loadAdmin()">Admin</a></form></li>
				<li><i class="fas fa-table icon"></i> Tables</li>
				<li><i class="fab fa-wpforms icon"></i> Forms</li>
				<li><i class="fas fa-chart-pie icon"></i> <form id="opencharts" action="/openCharts" method="post"><a href="javascript: submitcharts()">Charts</a></form></li>
			  </ul>
			</div>
		</div>
	
		<div class="main">
			<form action="/login" method="post">
	<div>
	<label>Username:</label>
	<input type="text" name="username"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>
		</div>

	</div>
		
	</body>
</html