<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Unition</title>
		<link rel="shortcut icon" type="image/png" href="./public/favicon.ico">
		<link href="./public/styles/<%= user.style %>.css" rel="stylesheet">
		<script type="text/javascript">
			function submitproject()
			{
			document.forms["projectform"].submit();
			}
			
			function loadAdmin()
			{
			document.forms["loadAdmin"].submit();
			}
			
			function submitcharts()
			{
			document.forms["opencharts"].submit();
			}
		</script>
		<script defer src="./node_modules/@fortawesome/fontawesome-free/js/brands.js"></script>
		<script defer src="./node_modules/@fortawesome/fontawesome-free/js/solid.js"></script>
		<script defer src="./node_modules/@fortawesome/fontawesome-free/js/fontawesome.js"></script>

	</head>
	
	<body>
	
	 <div class="container" style='height: 100%;'>

		<div class="card" style="width: 75px;">
			<div class="header">
			  <img type="image/png" src="./public/unitionSmall.png" style="margin-top:20px; display: block;" class="unitionSmall">
			</div>
			<div class="body">
			  <ul>
				<li><a href="./home"><i class="fas fa-home icon"></i></a></li>
				<li><a href='./projects'><i class="fas fa-stream icon"></i></a></li>				
				<li><a href='./adminPage'><i class="fas fa-wrench icon"></i></a></li>
				<li><a href="./forms"><i class="fab fa-wpforms icon"></i></a></li>
				<li><form id="opencharts" action="/openCharts" method="post"><a href="javascript: submitcharts()"><i class="fas fa-chart-pie icon"></i></a></form></li>
				<li><a href="./campaigns"><i class="fas fa-flag icon"></i></a></li>
				<li><a href="./teams"><i class="fas fa-users icon"></i></a></li>

				<li><a href="./documentation"><i class="fas fa-book icon"></i></a></li>
			  </ul>
			</div>
		</div>
		
		<div class="card" style="width: 150px; ">
			
			<div class="body" style="height:80%;">
			  <ul>

				<%- teamsList %>

			  </ul>
			</div>
			<div class="ender">
			<form action="/deliverJoinTeam" method="post">
				<input class="redButton" type="submit" value="Join Team">
			</form>
			<br>
			<br>
			<form action="/deliverCreateTeam" method="POST">
				<input class="redButton" type="submit" value="Create Team">
			</form>
			</div>
			
		</div>
  
  	<div class="main">
	<div class="topRow">

			<a href="/profile" class="profileButton" style="display:flex; float:right;"><i class="fas fa-user" height=45></i></a>
	</div>
	<div class="dataRow">
          <%- statusMessage %>
	</div>
	</div>


</div>
		
	</body>
</html>