@import url('https://fonts.googleapis.com/css?family=Roboto');


form {
	display: inline;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  cursor: pointer;
}

.container{
  padding: 0;
  display: flex;
  height: 100%;
  margin-top: 70px;
}

/*--------------------------------------------*/
/*-------------------NAVBAR-------------------*/
/*--------------------------------------------*/

.card{
  width: 300px;
  height: 100%;
  background-color: #1E2B32;
  border-radius: 10;
}

.header{
  padding: 5px;
  background-color: #2A3942;
}

h3{
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  margin-left: 1rem;
}

.iconM{
  font-size: 18px;
  margin-left: 170px;
  color: #2f89fc;
}

.icon{
  margin-right: 8px;
}

.body li{
  transition: 1s all;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 15px;
  margin-left: -40px;
  margin-top: 0px;
  color: #fff;
  list-style: none;
  display: block;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

li:hover{
  transition: 1s all;
  color: #2f89fc;
  background-color: rgba(42, 56, 65, 0.82);
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  cursor: pointer;
}

.body > li{
  float: left;
}

.body li ul{
  background: #1E2B32;
  margin-left: 10%;
  margin-top: -38px;
  display: none;
  position: absolute;
  border-top-right-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
}

.body li:hover > ul{
  display: block;
  cursor: pointer;
}

/*--------------------------------------------*/
/*----------AREA TO THE RIGHT OF NAV----------*/
/*--------------------------------------------*/

.main {
	display:inline;
	float:right;
	padding: 20px 20px;
	background-color: white;
	width: 100%;
	}
	
/*--------------------------------------------*/
/*--------------HOME PAGE BUTTON--------------*/
/*--------------------------------------------*/
	
input[type="submit"].redButton {
	width: 150px;
	height: 50px;
	background-color: #e7222c;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	border: none;
	font-size: large;
}

/*--------------------------------------------*/
/*----------------TABLE DESIGN----------------*/
/*--------------------------------------------*/
.styled-table {
    border-collapse: collapse;
    /*margin: 25px 0;*/
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #e7222c;
}

.topbar {
	padding:10px;
	height: 50px;
	background-color: #41535e;
	position: fixed;
	top: 0;
	width: 100%;
}

.profileButton {
	padding:20px;
}

html, body {
	margin: 0px;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.projectDiv {
	width:95%;
	background-color:#f3f3f3;
	padding: 20px;
}

.commentDiv {
	background-color:#f3f3f3;
	padding: 20px;
	width: 50%;
}

.chart-container {
	height: 450px;
	width: 70%;
	margin-left: 15%;
}

.projectTitle {
	background: none!important;
	border: none;
	padding: 0!important;
	text-decoration: underline;
	cursor: pointer; 
	/*color: #e7222c;*/
}
/******************FORM STYLING*********************/
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

* {
  box-sizing: border-box;
}